<div class="formAddComment">
<h3>Añadir comentario: </h3><P>
<form method="post" action="/quizes/<%=quizid%>/comments/">
   	<input type="text" id="comment" name="comment[texto]" value=""/> <p>
   	<br>
  	<button type="submit">Enviar</button>   	
</form>
</div>