<div id="info">			
<h1>Juan Quemada Vives</h1>
</div>

<div id="fotografiaPerfil">
<img src="./images/JuanQuemada.jpg" alt="Foto José Antonio">
</div>

<div id="info">			
<h1>José A. Cormenzana Elosua</h1>
</div>

<div id="fotografiaPerfil">
<img src="./images/FotoJose5.png" alt="Foto José Antonio">
</div>

